/* ===========================
   FOOTER
=========================== */


footer{

    margin-top:auto;

    text-align:center;

    padding:25px;

    color:var(--muted);

    border-top:
    1px solid rgba(255,255,255,.03);

}







/* ===========================
   RESPONSIVIDADE
=========================== */



@media(max-width:900px){



    .nav{


        flex-direction:column;


        text-align:center;


    }




    nav ul{


        margin-left:0;


        flex-wrap:wrap;


        justify-content:center;


    }





    .searchbox{


        width:100%;


        margin-left:0;


    }





    .searchbox input{


        width:100%;


    }






    .two-col{


        grid-template-columns:1fr;


    }





    /* páginas dos hotéis */


    .hotel-info,


    .hotel-info.reverse{


        flex-direction:column;


        text-align:center;


    }





    .hotel-info img{


        width:100%;


        max-width:450px;


        height:auto;


    }




}








@media(max-width:600px){



    .hero{


        min-height:260px;


        padding:30px 15px;


    }





    .hero h2{


        font-size:1.7rem;


    }





    .hero p{


        font-size:.95rem;


    }






    .grid{


        grid-template-columns:1fr;


    }





    .hotel-hero{


        min-height:250px;


    }





    .hotel-local{


        font-size:2.2rem;


    }





    .hotel-nome{


        font-size:1.2rem;


    }





    .hotel-texto{


        padding:15px;


        font-size:.95rem;


    }





    .hotel-info{


        padding:15px;


        margin:30px auto;


    }




    .hotel-info img{


        width:100%;


    }





    nav ul{


        display:flex;


        flex-direction:column;


    }





    .actions{


        flex-direction:column;


    }





    .btn{


        text-align:center;


        width:100%;


    }


}
